:root {
    font-size: 30px;
    font-family: 'Mukta' serif;
    background-color: #74cef5;
    --headercolor: #0fa5fc;
    --background: #74cef5;
    --headertextcolor: black;
}
h1{
    text-align: center;
    padding: 60px 10px 10px 10px;
    margin: 0px 0px -10px -0px;
    background-color: #42A3BD;
    color:black;
    /*failsafe for older browsers such as explorer*/
    background-color: var(--headercolor);
    color: var(--headertextcolor);
}

h2{
    text-align: center;

}

#firstparagraph{
    margin: 100px 200px -10px 200px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

#prosconspara{
    text-align: center;
    padding: 150px 0px 150px 0px;
}
.proscontainer{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px 100px 0px;
}

.conscontainer{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px 100px 0px;
}

.proscontainer > div {
    background-color: #40FBA3;
    width: 400px;
    height: 300px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 20%;
    line-height: 40px;
    box-shadow: 0px 20px 5px #309143;
    font-weight: 800;
}

.conscontainer > div {
    background-color: #ff5c53;
    width: 400px;
    height: 300px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 20%;
    line-height: 40px;
    box-shadow: 0px 20px 3px #913530;
    font-weight: 800 ;
}

#adv1{
    margin: 30px 20px 10px 20px;
    font-weight: 200;
}

#adv2{
    margin: 30px 40px 10px 40px;
    font-weight: 200;
    font-size: 30px;
}

#adv3{
    margin: 20px 40px 10px 40px;
    font-size: 28px;
    font-weight: 200;
}

#dis1{
    margin: 30px 20px 10px 20px;
    font-weight: 200;
}

#dis2{
    margin: 30px 40px 10px 40px;
    font-weight: 200;
    font-size: 30px;
}

#dis3{
    margin: 20px 40px 10px 40px;
    font-size: 28px;
    font-weight: 200;
}

.jumplist{
    text-align: center;
    list-style-type: none;
}

/*Trying grids on media page for first time*/
.mediaheader{grid-area: header;}
.medialinks{grid-area: links;}
.mediaparagraph{grid-area: para;}
.mediapics{grid-area: pics;}
.mediavideos{grid-area: videos;}
.mediaemail{grid-area: email;}

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header'
      'para para para para para'
      'pics pics pics pics pics'
      'videos videos videos videos videos'
      'email email email email email'
      'links links links links links';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    text-align: center;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .printer-img{
      margin: 0px 40px 0px 40px;
  }
  
  #table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border-radius: 50px;
  }
  
  #table td, #table th {
    border: 3px solid black;
    padding: 8px;
    text-align: center;
  }

#table tr:hover {background-color: #5b9fbd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4cbd50;
  color: black;
}

#mapiframe {
    border: 1px solid black;
    width: 100%;
}

#contacttitle{
    text-align: center;
}

#contactlist{
    text-align: center;
    list-style-type: none;
}

#contact-para{
    text-align: center;
}

#shiny-sphere-text{
    text-align: center;
}

#shiny-sphere{
    margin: 0px auto 50px auto;
    width: 40%;
    
    width: 100px;
    height: 100px;
    background-color: var(--background);
    animation-name: shinysphere;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 50%;
  }
  
  @keyframes shinysphere {
      0%{
        background-color: var(--background);
      }

      50%{
        background-color: rgb(51, 255, 0);
      }

      100%{
        background-color: var(--background);
      }
  }

  /* Using pseudo class for first time */
  #jumplist a:link {
    color:darkblue;
  }
  
  #jumplist a:visited {
    color: rgb(47, 170, 133);
  }
  
  #jumplist a:hover {
    color: rgb(9, 255, 0);
  }
  
  #jumplist a:active {
    color: blue;
  }

  #jumplist{
    list-style-type: none;
  }

  /*Cant get media query to work :( I tried my best... */
  @media only screen and (max-width: 800px) {
    #adv1{
        font-size: small;
        line-height: 20px;
    }
    #adv2{
        font-size: small;
        line-height: 20px;
    }
    #adv3{
        font-size: small;
        line-height: 20px;
    }
    #dis1{
        font-size: small;
        line-height: 20px;
    }
    #dis2{
        font-size: small;
        line-height: 20px;
    }
    #dis3{
        font-size: small;
        line-height: 20px;
    }
  }

  /* nav design*/
  .nav-div{
      text-align: center;
      margin: 0;
      padding: 0;
      background-color: rgb(88, 255, 88);
      width: 100%;
      position: fixed;
  }

  .nav-text{
      margin: 0px 100px 0px 100px;
  }

  .nav-text:hover{
      background-color: darkgreen;
  }

  .active{
    background-color: rgb(50, 95, 163);
  }

  #jumpto-list{
    list-style-type: none;
    text-align: center;
  }